@use 'variaveis';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$bodyColor;
}

header {
    background-color: variaveis.$headerColor;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 50px auto;

    & img {
        display: block;
        width: 500px;
        margin-top: 10px;
    }
}